.header {
    display: flex;
	margin-top: 50px;
    background: #5c5753;
    border: 1px solid #fcf0e150;
}

.header__title {
	margin: -15px 100px 15px 100px;
	padding: 10px 40px;
	color: #fcf0e1;
	background: #CD5C5C;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    border-radius: 3rem;
}

.header__description {
    display: flex;
    align-items: center;
    justify-content:center;
	color: #fcf0e1;
    font-size: 25px;
    font-weight: lighter;
    
}