.post {
    border: 1px solid #CD5C5C;
    padding: 10px;
    margin: 10px;
}

.button {
    display: inline-block;
    border-radius: 3rem;
    background-color: #CD5C5C;
    border: none;
    color: #fcf0e1;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    opacity: 1;
    transition: 0.2s;
    font-style: italic;
}

.button:hover {opacity: 0.5}

h2 {
    font-style: italic;
    font-weight: lighter;
}