@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background: #333333;
  color: #fcf0e1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.722);
  border-radius: 1.5rem;
  text-align: center;
}

h3 {
  font-style: italic;
  font-weight: lighter;
  color: #fcf0e175;
}